{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;  charset=utf-8" />
  <script language="javascript" type="text/javascript">
    function dynamicdropdown(listindex)
    {
        switch (listindex)
        {
        case "Computer Science" :
            document.getElementById("status").options[0]=new Option("Select","");
            document.getElementById("status").options[1]=new Option("BSc","bsc");
            document.getElementById("status").options[2]=new Option("Btech","btech");
            document.getElementById("status").options[3]=new Option("BCA","bca");
            document.getElementById("status").options[4]=new Option("MCA","mca");
            document.getElementById("status").options[5]=new Option("Diploma","diploma");
            break;
        case "Commerce" :
            document.getElementById("status").options[0]=new Option("Select","");
            document.getElementById("status").options[1]=new Option("BCom","bcom");
            document.getElementById("status").options[2]=new Option("BBA","bba");
            document.getElementById("status").options[3]=new Option("MBA","mba");
            document.getElementById("status").options[4]=new Option("BFM","bfm");
            document.getElementById("status").options[5]=new Option("BAF","baf");
            break;
        case "Electronics" :
            document.getElementById("status").options[0]=new Option("Select","");
            document.getElementById("status").options[1]=new Option("BSc","bsc");
            document.getElementById("status").options[2]=new Option("MSc","msc");
            document.getElementById("status").options[3]=new Option("Btech","btech");
            document.getElementById("status").options[4]=new Option("Mtech","mtech");
            document.getElementById("status").options[5]=new Option("Diploma","diploma");
            break;
        case "Chemistry" :
            document.getElementById("status").options[0]=new Option("Select","");
            document.getElementById("status").options[1]=new Option("BSc","bsc");
            document.getElementById("status").options[2]=new Option("Diploma","diploma");
            document.getElementById("status").options[3]=new Option("MSc Chemistry","msc_chemistry");
            document.getElementById("status").options[4]=new Option("MSc Biochemistry","msc_biochemistry ");
            document.getElementById("status").options[5]=new Option("Mphil","mphil");
            break;
        case "Physics" :
            document.getElementById("status").options[0]=new Option("Select","");
            document.getElementById("status").options[1]=new Option("BSc","bsc");
            document.getElementById("status").options[2]=new Option("Diploma","diploma");
            document.getElementById("status").options[3]=new Option("MSc Nuclear Physics","msc_nuclear_physics");
            document.getElementById("status").options[4]=new Option("Advanced PG Diploma","advanced_pg_diploma");
            document.getElementById("status").options[5]=new Option("MSc Astrophysics","msc_astrophysics");
            break;
        }
        return true;
    }
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Order</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
</head>
<body style="background-color:#FBC9FD;">
<div class="bottom_bg">
<header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              <a href="/ ">
              <img src="{% static 'images/logo.png' %}" alt="logo image" width="50px;" height="50px;">
              </a>
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">GRANDVUE<span class="sr-only">(current)</span></a>
                </li>&nbsp &nbsp &nbsp &nbsp
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>&nbsp &nbsp &nbsp &nbsp
                {% if user.is_authenticated %}
									<h5 style="color:white;">Hello {{user.username}}...</h5>&nbsp &nbsp &nbsp &nbsp
									{% else %}
                <li class="nav-item">
                  <a class="nav-link" href="credentials/register">Register </a>&nbsp &nbsp &nbsp &nbsp
                </li>
                <div class="quote_btn-container">
              <a href="credentials/login">
                  <button type="button" class="btn btn-secondary">Login
                <i class="fa fa-user" aria-hidden="true"></i>
                </button>
              </a>
                </div>
                {% endif %}
                  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Commerce">Commerce</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Electronics">Electronics</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Chemistry">Chemistry</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Physics">Physics</a>
        </div>
      </li>
              </ul>
            </div>
            </div>

        </nav>
      </div>
    </header>
<div class="container">
  <form action="order" method="post">
    {% csrf_token %}
      <br>
      <label><b>Name</b></label> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      <input type="text" name="name" placeholder="Enter your Name"><br>
      <label><b>Date of birth</b></label> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      <input type="date" name="dob" placeholder="Enter your DOB"><br>
      <label><b>Age</b></label> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp
      <input type="number" name="age" placeholder="Enter your Age"><br>
      <label><b>Gender</b></label> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      <label>Female</label>&nbsp<input type="checkbox" name="Female" >&nbsp &nbsp &nbsp
      <label>Male</label>&nbsp<input type="checkbox" name="Male" ><br>
      <label><b>Phone No:</b></label> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      <input type="tel" name="number" placeholder="Enter your Phone no:"><br>
      <label><b>Mail ID</b></label> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      <input type="email" name="email" placeholder="Enter your Email ID"><br>
      <label><b>Address</b></label> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      <input type="text" name="address" placeholder="Enter your Address"><br>
      <div class="category_div" id="category_div"><b>Department</b>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<select id="Department" name="Department" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
        <option value="">Select</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Commerce">Commerce</option>
        <option value="Electronics">Electronics</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Physics">Physics</option>
        </select>
    </div>
      <div class="sub_category_div" id="sub_category_div"><b>Courses</b>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<script type="text/javascript" language="JavaScript">
        document.write('<select name="status" id="status"><option value="">Select</option></select>')
        </script>
    </div>
  <label ><b>Purpose</b></label>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<select id="Purpose">
  <option value="Select">Select</option>
  <option value="Enquiry">Enquiry</option>
  <option value="Place Order">Place Order</option>
  <option value="Return">Return</option>
    <option value="Hostel Services">Hostel Services</option>
    <option value="Placements">Placements</option>
</select><br>
      <label><b>Materials Provide</b></label>&nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp
<label>Notebooks</label>&nbsp<input type="checkbox" name="Notebooks" >&nbsp  &nbsp
<label>Textbooks</label>&nbsp<input type="checkbox" name="Textbooks" >&nbsp  &nbsp
<label>Exam papers</label>&nbsp<input type="checkbox" name="Exam papers" >&nbsp  &nbsp
   <label>Record book</label>&nbsp<input type="checkbox" name="Record book" >&nbsp  &nbsp
      <label>Chart papers</label>&nbsp<input type="checkbox" name="Chart papers" ><br>
 <center> <input style="background-color:#BCB4B3;" type="submit"></center>
</form><br>
    <center>
    <a href="logout">
        <button style="background-color:#BCB4B3;">Log out</button>
</a>
 </center>
</div><br>
    <footer class="footer_section">
    <div class="container">
      <div class="footer_box">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved
        </p>
        <p>
          Privacy & Policy
        </p>
      </div>
    </div>
  </footer>
</div>
<!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->
</body>
</html>